{
    "presets": [
        "es2015",
        "stage-0"
    ],
    "plugins": [
    ],
    "env": {
        "test": {
            "plugins": [
                "istanbul"
            ]
        }
    }
}
